* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: "Ubuntu", sans-serif;
    color: #fbfbfb;
    background: #66545e;
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1020px;
}

.header{
    height: 50px;
}

.header-nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 40px;
    background: #21081a;
}

.header-nav-list {
    list-style: none;
    margin: 10px 0;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-nav-list-item {
    display: inline-block;
}

.header-nav-list-item-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .3s;
}

.header-nav-list-item-link:hover{
    color: #09e8d5;
}

.block{
    padding-top: 50px;
}

.about-me{
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.about-me-img-wrapper{
    max-width: 25%;
}

.about-me-img{
    border-radius: 50px;
    max-width: 100%;
}

.about-me-block{
    max-width: 70%;
}

.block-title{
    font-size: 30px;
    color: #09e8d5;
}

.project-title{
    text-align: center;
}

.project-link{
    color: inherit;
}

.project-inner{
    text-align: center;
    font-size: 17px;
}

.project-inner p{
    margin-top: 30px;
}

.project-img{
    max-width: 100%;
}

.languages a{
    color: inherit;
}

.languages a:hover{
    color: #09e8d5;
}

.footer{
    color: #09e8d5;
    margin-top: 50px;
    padding-bottom: 20px;
}

.footer-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}